<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="productionEndPoint" value="https://dpprod.njcourts.gov:2045/civilFilingWS_p"/>
    <add key="productionUsername" value="F00012033"/>
    <add key="productionPwd" value="x8xNbC$c"/> 
    <add key="testEndPoint" value="https://dptng.njcourts.gov:2045/civilFilingWS_t"/>
    <add key="testUsername" value="888888029"/>
    <add key="testPwd" value="P@ssword"/>
    <add key="firmId" value="F00012033"/>
    <!-- requestFileLocationFileName stores the raw soap request we are making 'searchNotices'. -->
    <add key="requestFileLocationFileName" value="C:\Jefis\Tools\SearchNotices\request.txt"/>
    <!-- responseFileLocationFileName is a temporary file overwritten on each request containing the raw soap response. Response errors can be found in this file.-->
    <add key="responseFileLocationFileName" value="C:\Jefis\Tools\SearchNotices\response.xml"/>
    <!-- importFileLocation: File name will be FirmId and NoticeDate timestamp. The location where the reponse.xml is cleaned and formatted to be processed by other applications.-->
    <add key="importFileLocation" value="C:\Jefis\Tools\SearchNotices\responses\"/>
    <!-- ReadFrom values {AUTO, FORM} AUTO uses current date and daysBack, FORM is manually done using the app.-->
    <add key="readFrom" value="FORM"/>
    <!-- mode is 'Test' -> testEndPoint and mode is 'Production' -> productionEndpoint.-->
    <add key="mode" value="PRODUCTION"/>
    <add key="daysBack" value="1"/>
  </appSettings>
</configuration>